<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="actionparam">
            <h2><span jhiTranslate="keycloakSampleApp.actionparam.detail.title">Actionparam</span> {{ actionparam.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="keycloakSampleApp.actionparam.idactionparam">Idactionparam</span></dt>
                <dd>
                    <span>{{ actionparam.idactionparam }}</span>
                </dd>
                <dt><span jhiTranslate="keycloakSampleApp.actionparam.libelleactionparam">Libelleactionparam</span></dt>
                <dd>
                    <span>{{ actionparam.libelleactionparam }}</span>
                </dd>
                <dt><span jhiTranslate="keycloakSampleApp.actionparam.codeactionparam">Codeactionparam</span></dt>
                <dd>
                    <span>{{ actionparam.codeactionparam }}</span>
                </dd>
                <dt><span jhiTranslate="keycloakSampleApp.actionparam.idetapeparam">Idetapeparam</span></dt>
                <dd>
                    <div *ngIf="actionparam.idetapeparam">
                        <a [routerLink]="['/etapeparam', actionparam.idetapeparam?.id, 'view']">{{ actionparam.idetapeparam?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/actionparam', actionparam.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
