<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-statutenum-heading" jhiTranslate="keycloakSampleApp.statutenum.home.createOrEditLabel">Create or edit a Statutenum</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="keycloakSampleApp.statutenum.idstatut" for="field_idstatut">Idstatut</label>
                    <input type="number" class="form-control" name="idstatut" id="field_idstatut"
                           formControlName="idstatut"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="keycloakSampleApp.statutenum.libellestatut" for="field_libellestatut">Libellestatut</label>
                    <input type="text" class="form-control" name="libellestatut" id="field_libellestatut"
                           formControlName="libellestatut"/>
                    <div *ngIf="editForm.get('libellestatut')!.invalid && (editForm.get('libellestatut')!.dirty || editForm.get('libellestatut')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libellestatut')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 254 }">
                        This field cannot be longer than 254 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="keycloakSampleApp.statutenum.codestatut" for="field_codestatut">Codestatut</label>
                    <input type="text" class="form-control" name="codestatut" id="field_codestatut"
                           formControlName="codestatut"/>
                    <div *ngIf="editForm.get('codestatut')!.invalid && (editForm.get('codestatut')!.dirty || editForm.get('codestatut')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codestatut')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 254 }">
                        This field cannot be longer than 254 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
