<div>
    <h2 id="page-heading">
        <span jhiTranslate="keycloakSampleApp.etapeparam.home.title">Etapeparams</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-etapeparam" [routerLink]="['/etapeparam/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="keycloakSampleApp.etapeparam.home.createLabel">
            Create a new Etapeparam
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="etapeparams?.length === 0">
        <span jhiTranslate="keycloakSampleApp.etapeparam.home.notFound">No etapeparams found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="etapeparams && etapeparams.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idetapeparam"><span jhiTranslate="keycloakSampleApp.etapeparam.idetapeparam">Idetapeparam</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleetapeparam"><span jhiTranslate="keycloakSampleApp.etapeparam.libelleetapeparam">Libelleetapeparam</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codeetapeparam"><span jhiTranslate="keycloakSampleApp.etapeparam.codeetapeparam">Codeetapeparam</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let etapeparam of etapeparams ;trackBy: trackId">
                    <td><a [routerLink]="['/etapeparam', etapeparam.id, 'view']">{{ etapeparam.id }}</a></td>
                    <td>{{ etapeparam.idetapeparam }}</td>
                    <td>{{ etapeparam.libelleetapeparam }}</td>
                    <td>{{ etapeparam.codeetapeparam }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/etapeparam', etapeparam.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/etapeparam', etapeparam.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(etapeparam)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="etapeparams && etapeparams.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
