<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etape">
            <h2><span jhiTranslate="keycloakSampleApp.etape.detail.title">Etape</span> {{ etape.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="keycloakSampleApp.etape.idetape">Idetape</span></dt>
                <dd>
                    <span>{{ etape.idetape }}</span>
                </dd>
                <dt><span jhiTranslate="keycloakSampleApp.etape.libelleetape">Libelleetape</span></dt>
                <dd>
                    <span>{{ etape.libelleetape }}</span>
                </dd>
                <dt><span jhiTranslate="keycloakSampleApp.etape.statutetape">Statutetape</span></dt>
                <dd>
                    <span>{{ etape.statutetape }}</span>
                </dd>
                <dt><span jhiTranslate="keycloakSampleApp.etape.heureexecutionetape">Heureexecutionetape</span></dt>
                <dd>
                    <span>{{ etape.heureexecutionetape }}</span>
                </dd>
                <dt><span jhiTranslate="keycloakSampleApp.etape.codeetape">Codeetape</span></dt>
                <dd>
                    <span>{{ etape.codeetape }}</span>
                </dd>
                <dt><span jhiTranslate="keycloakSampleApp.etape.idtfj">Idtfj</span></dt>
                <dd>
                    <div *ngIf="etape.idtfj">
                        <a [routerLink]="['/tfj', etape.idtfj?.id, 'view']">{{ etape.idtfj?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etape', etape.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
