<div>
    <h2 id="page-heading">
        <span jhiTranslate="keycloakSampleApp.messageerreur.home.title">Messageerreurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-messageerreur" [routerLink]="['/messageerreur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="keycloakSampleApp.messageerreur.home.createLabel">
            Create a new Messageerreur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="messageerreurs?.length === 0">
        <span jhiTranslate="keycloakSampleApp.messageerreur.home.notFound">No messageerreurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="messageerreurs && messageerreurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idmessage"><span jhiTranslate="keycloakSampleApp.messageerreur.idmessage">Idmessage</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="keycloakSampleApp.messageerreur.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idaction.id"><span jhiTranslate="keycloakSampleApp.messageerreur.idaction">Idaction</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let messageerreur of messageerreurs ;trackBy: trackId">
                    <td><a [routerLink]="['/messageerreur', messageerreur.id, 'view']">{{ messageerreur.id }}</a></td>
                    <td>{{ messageerreur.idmessage }}</td>
                    <td>{{ messageerreur.description }}</td>
                    <td>
                        <div *ngIf="messageerreur.idaction">
                            <a [routerLink]="['/action', messageerreur.idaction?.id, 'view']" >{{ messageerreur.idaction?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/messageerreur', messageerreur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/messageerreur', messageerreur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(messageerreur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="messageerreurs && messageerreurs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
