<div>
    <h2 id="page-heading">
        <span jhiTranslate="keycloakSampleApp.tfj.home.title">Tfjs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tfj" [routerLink]="['/tfj/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="keycloakSampleApp.tfj.home.createLabel">
            Create a new Tfj
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tfjs?.length === 0">
        <span jhiTranslate="keycloakSampleApp.tfj.home.notFound">No tfjs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tfjs && tfjs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="idtfj"><span jhiTranslate="keycloakSampleApp.tfj.idtfj">Idtfj</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datetfj"><span jhiTranslate="keycloakSampleApp.tfj.datetfj">Datetfj</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statuttfj"><span jhiTranslate="keycloakSampleApp.tfj.statuttfj">Statuttfj</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tfj of tfjs ;trackBy: trackId">
                    <td><a [routerLink]="['/tfj', tfj.id, 'view']">{{ tfj.id }}</a></td>
                    <td>{{ tfj.idtfj }}</td>
                    <td>{{ tfj.datetfj | date:'medium' }}</td>
                    <td>{{ tfj.statuttfj }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tfj', tfj.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tfj', tfj.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tfj)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tfjs && tfjs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
